.none {
  visibility: hidden;
}

.grid-container {
  display: grid;
  place-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 140px;
  grid-template-columns: auto auto auto auto;
  column-gap: 25px;
  row-gap: 25px;
}

.grid-item {
  position: relative;
  text-align: center;
}

.grid-item img {
  width: 400px;
  height: 800px;
  object-fit: cover;
}

.grid-item img:hover {
  filter: brightness(50%);
}

.grid-item .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Mitr", sans-serif;
  font-size: 48px;
  font-weight: 400;

  color: #f8eeee;
}

@media screen and (max-width: 1600px) {
  .grid-container {
    display: grid;
    place-items: center;
    width: auto;
    margin-top: 70px;
    grid-template-columns: auto;
    column-gap: 25px;
    row-gap: 25px;
  }
  .grid-item .overlay-text {
    font-size: 24px;
  }
  .grid-item img {
    width: auto;
    height: 400px;
    object-fit: cover;
  }
}

@media screen and (max-width: 500px) {
  .grid-item img {
    height: 150px;
    object-fit: cover;
  }
}
