html {
  width: 100vw;
  padding: auto;
  margin: auto;
  background-color: #1d1d1d;
}

body {
  position: relative;
  padding: auto;
  margin: auto;
}

nav {
  width: 100vw;
  height: 158px;
  top: 0;
}

p {
  font-family: "Mitr", sans-serif;
  font-weight: 400px;
  color: #f8eeee;
}

a {
  font-family: "Mitr", sans-serif;
  font-weight: 400px;
  color: #f8eeee;
}

h2 {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-size: 48px;
  font-weight: 500;
}

span {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-size: 32px;
  font-weight: 400;
}

section {
  width: 100vw;
  position: relative;
}

.section-header-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  text-align: left;
  padding-top: 300px;
  padding-left: 300px;
  width: 100vw;
  right: 850px;
}

.section-header p {
  display: inline;
}

.section-header h2 {
  margin: 0px;
}
