html {
  width: 100vw;
  padding: auto;
  margin: auto;
  background-color: #1d1d1d;
}

body {
  position: relative;
  padding: auto;
  margin: auto;
}

p {
  font-family: "Mitr", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #f8eeee;
}

a {
  font-family: "Mitr", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #f8eeee;
}

h1 {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-size: 48px;
  font-weight: 500;
  display: inline;
}

h2 {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-size: 32px;
  font-weight: 300;
}

h4 {
  font-size: 48px;
}

h5 {
  font-family: "Mitr", sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: 300;
}

span {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-weight: 400;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
}

.section-header-container {
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin-top: 200px;
  width: 70vw;
  margin-left: 140px;
}

.section-header p {
  text-align: left;
  display: inline;
}

.section-header h2 {
  margin: 0px;
}

@media screen and (max-width: 1400px) {
  p {
    font-size: 8px;
  }

  a {
    font-size: 8px;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    color: #f8eeee;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
    font-weight: 300;
  }

  h3 {
    font-family: "Mitr", sans-serif;
    color: #f8eeee;
    font-size: 16px;
    font-weight: 300;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-family: "Mitr", sans-serif;
    color: #000000;
    font-size: 6px;
    font-weight: 300;
  }
}
