#contact-section {
  height: 500px;
  margin: 0px;
}

.contact-me {
  margin-top: 101px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  gap: 75px;

  background-color: #000000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.contact-me img {
  margin-right: 20px;
}

.contact-me a {
  font-size: 36px;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.contact-me a:hover {
  color: #03bb48;
}

@media screen and (max-width: 1400px) {
  #contact-section {
    height: 300px;
  }

  .contact-me {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    gap: 75px;
    padding: 0px;

    background-color: #000000;
  }
  #contact-section {
    height: auto;
    margin: 0px;
  }
}
.contact-me a {
  font-size: 24px;
}
.contact-me img {
  width: 25px;
  height: auto;
}
