nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #f8eeee;
  gap: 950px;
  position: relative;
  z-index: 1;
  filter: drop-shadow(1px 1px black);
}

nav a {
  display: inline;
  font-size: 24px;
  text-decoration: none;
  list-style: none;
}

nav p {
  display: inline;
  font-size: 24px;
  text-decoration: none;
  list-style: none;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav li {
  text-decoration: none;
  list-style: none;
}

nav a:hover {
  color: #03bb48;
}
