nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #000000;
  color: #f8eeee;
  gap: 650px;
}

nav p {
  display: inline;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav li {
  text-decoration: none;
  list-style: none;
}
