html {
  width: 100vw;
  padding: auto;
  margin: auto;
  background-color: #1d1d1d;
}

body {
  position: relative;
  padding: auto;
  margin: auto;
}

p {
  font-family: "Mitr", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #f8eeee;
}

a {
  font-family: "Mitr", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #f8eeee;
}

h1 {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-size: 48px;
  font-weight: 500;
  display: inline;
}

h2 {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-size: 36px;
  font-weight: 300;
}

h3 {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-size: 32px;
  font-weight: 300;
}

h4 {
  font-size: 48px;
}

h5 {
  font-family: "Mitr", sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: 300;
}

li {
  font-family: "Mitr", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #f8eeee;
}

span {
  font-family: "Mitr", sans-serif;
  color: #f8eeee;
  font-weight: 400;
}

article {
  margin-top: 140px;
  color: #f8eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 101px;
  flex-direction: column;
}

article img {
  object-fit: cover;
  width: 540px;
  height: auto;
}

article p {
  width: 540px;
  height: auto;
  font-size: 24px;
}

.article-container {
  display: flex;
  gap: 140px;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 100px;
  position: relative;
}

.section-header-container {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-top: 100px;
  margin-right: 800px;
  margin-left: 200px;
  width: 600px;
}

.section-header p {
  text-align: left;
  display: inline;
}

.section-header h2 {
  margin: 0px;
}

@media screen and (max-width: 1400px) {
  section {
    margin-bottom: 0px;
  }

  .section-header-container {
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
    text-align: center;
  }

  article {
    gap: 40px;
    margin-top: 70px;
  }

  .article-container {
    flex-direction: column;
    gap: 40px;
    width: 40vw;
  }

  article img {
    object-fit: cover;
    width: 42vw;
    height: auto;
  }

  p {
    font-size: 12px;
  }

  article p {
    width: auto;
    height: auto;
    font-size: 12px;
  }

  li {
    font-size: 12px;
  }

  a {
    font-size: 12px;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    color: #f8eeee;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
    font-weight: 300;
  }

  h3 {
    font-family: "Mitr", sans-serif;
    color: #f8eeee;
    font-size: 16px;
    font-weight: 300;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-family: "Mitr", sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 300;
  }
}
