html {
  width: 100vw;
  padding: auto;
  margin: auto;
}

body {
  position: relative;
  padding: auto;
  margin: auto;
}

nav {
  width: 100vw;
  height: 158px;
}

p {
  font-family: "Mitr", sans-serif;
  font-weight: 400px;
}
