nav {
  width: 100vw;
  height: 158px;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #f8eeee;
  gap: 950px;
  position: relative;
  z-index: 1;
  filter: drop-shadow(1px 1px black);
}

nav img {
  width: 100px;
}

nav a {
  display: inline;

  text-decoration: none;
  list-style: none;
}

nav p {
  display: inline;

  text-decoration: none;
  list-style: none;
}

nav ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
  list-style: none;
}

nav a:hover {
  color: #03bb48;
}

@media screen and (max-width: 1400px) {
  nav {
    height: 60px;
    gap: 300px;
  }
}

nav img {
  width: 70px;
}

@media screen and (max-width: 850px) {
  nav {
    height: 60px;
    gap: 20px;
  }
  nav a {
    font-size: 12px;
  }

  nav p {
    font-size: 12px;
  }
}
