article {
  margin-top: 140px;
  color: #f8eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 101px;
  flex-direction: column;
}

article img {
  width: 400px;
  height: 450px;
  object-fit: cover;
}

article p {
  width: 540px;
  height: auto;
  font-size: 24px;
}

.article-container {
  display: flex;
  gap: 140px;
  justify-content: center;
  align-items: center;
}
